@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
    box-sizing: border-box;
}

.container {
    @include clearfix;
}

.box {
    height: 300px;
}

.col-quarter {
    float: left;
    width: 25%;
}

.col-three-quarter {
    float: left;
    width: 75%;
}

.col-onethird {
  float: left;
  width: 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-gray {
  background-color: gray;
}
.bg-orange {
  background-color: orange;
}